/* ==================== RESET ==================== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ==================== VARIABLES ==================== */
:root {
  --primary: #6134b6;
  --secondary: #d9ff51;
  --tertiary: #ffffff;
  --accent: #006eff;
  --dark: #000000;
}

/* ==================== GENERAL ==================== */
body {
  font-family: 'JetBrains Mono', monospace;
  background-color: white;
}

.container {
  max-width: 473px;
  margin: 0 auto;
  padding: 2.2em 1.1em;
  position: relative;
}

/* ==================== PROFILE SECTION ==================== */
.profile-section {
  width: 17.6em;
  height: 24.2em;
  margin: 3.3em auto;
  position: relative;
}

.profile.box {
  width: 100%;
  height: 100%;
  background-color: var(--primary);
  border: 3px solid var(--dark);
  position: relative;
  box-shadow: -11px 11px 0 -3px var(--dark);
  transition: all 0.4s cubic-bezier(0.34, 1.56, 0.64, 1);
}

.profile-header {
  width: 100%;
  height: 2em;
  border-bottom: 3px solid var(--dark);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 0.5em;
  gap: 0.3em;
}

.window-btn {
  width: 0.9em;
  height: 0.9em;
  border: 2px solid var(--dark);
  border-radius: 50%;
  background: var(--secondary);
}

.profile-photo {
  width: 100%;
  height: calc(100% - 2em);
  display: flex;
  align-items: flex-end;
  justify-content: center;
  overflow: hidden;
}

.profile-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
